.btn-primary, .btn-primary:focus, .btn-danger, .btn-danger:focus{
	outline: none;
}

body{
	background-color: #191f2e;
}
.sprites { background: url(../img/sprites.png) no-repeat; border: none; margin: 25% auto;}
.power-active { width: 143px; height: 141px; background-position: 0 0; }
.power { width: 140px; height: 140px; background-position: -143px 0; }